<banner></banner>
<div *ngIf="product" class="product-page">
  <div class="product-page-container">
    <ol class="product-breadcrumbs">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item" *ngIf="category"><a [routerLink]="['/home']"
          [queryParams]="{ cat: category.slug }">{{category.name}}</a></li>
      <li class="breadcrumb-item">{{product.name}}</li>
    </ol>
    <div class="row">
      <div class="col-md-8">
        <div class="product-details-image" [ngStyle]="{'background-image': 'url(' + product.images[0] + ')'}"></div>
      </div>
      <div class="col-md-4">
        <div class="product-details-row">
          <div class="product-category" *ngIf="category">{{category.name}}</div>
          <h1 class="product-title">{{product.name}}</h1>
          <div class="product-price">{{product.retailPrice | formatCurrency }}</div>
          <div class="product-description">{{product.description}}</div>
        </div>
        <div class="product-details-button">
          <quantity-control [quantity]="quantity" (onChange)="changeQuantity($event)"></quantity-control>
          <div class="product-cart-button button button-primary button-large" (click)="addToCart()">Add to cart
          </div>
        </div>
      </div>
    </div>
  </div>
</div>