.product-list {
  text-align: center;
	--gap: 16px;

	.product-item {
		width: 20%;
		float: left;
	}
}

.pos-right-side {
	background-color: #fff;
	border-radius: 10px;
	padding: 0;
}

.pos-left-side {
	padding-left: 0;
	overflow: hidden;
	
	.product-list {
		background-color: #fff;
		padding: 25px 0;
		border-radius: 10px;
	}
}