.core-ui-paginator {
  height: auto;

  .paginator-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .pagination .item {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;

    &.current {
      background-color: #78a205;
      color: #fff;
    }

    a {
      color: #444;
    }
  }

  .sizer {
    padding: 5px 7px;
    margin-left: 5px;
    border-radius: 5px;
    border-color: #e7e7e7;
  }
}
