.order-header {
	border-bottom: 1px solid #ebedf3;
}

ul {
	list-style: none;
	padding: 0 5px 0;
	margin: 0;

	li {
		display: flex;


		label {
			font-weight: 600;
			flex: 0 0 30%;
		}

		span {
			flex: 0 0 70%;
		}
	}
}