<div class="signin-container">
  <div class="sign-in">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="/assets/imgs/signin-image.jpg" alt="sing up image"></figure>
          <a routerLink="/auth/login" class="signup-image-link">Sign In</a>
        </div>

        <div class="signin-form">
          <h2 class="form-title">Forgot password</h2>
  				<kt-auth-notice></kt-auth-notice>
          <form [formGroup]="forgotPasswordForm" autocomplete="off" class="register-form" id="login-form">
            <div class="form-group">
              <label for="your_name"><i class="fa fa-user" aria-hidden="true"></i></label>
              <input type="email" formControlName="email" placeholder="Email" autocomplete="off" />
              <span class="error" *ngIf="isControlHasError('email','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' }}</strong>
							</span>
							<span class="error" *ngIf="isControlHasError('email','email')">
								<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' }}</strong>
							</span>
							<span class="error" *ngIf="isControlHasError('email','minLength')">
								<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' }} 3</strong>
							</span>
							<span class="error" *ngIf="isControlHasError('email','maxLength')">
								<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' }} 320</strong>
							</span>
            </div>
            <div class="form-group form-button">
              <button type="submit" (click)="submit()" [ngClass]="{'kt-spinner': loading}" id="signin" class="form-submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

