<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__wrapper">
			<div class="kt-footer__copyright">
				{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="https://ng-commerce.com" target="_blank" class="kt-link">Ng-Commerce.com</a>
			</div>
			<div class="kt-footer__menu">
				<a href="https://ng-commerce.com/documentation" target="_blank" class="kt-footer__menu-link kt-link">Documentation</a>
				<a href="https://github.com/lnkhanh/ng-commerce" target="_blank" class="kt-footer__menu-link kt-link">GitHub</a>&nbsp;&nbsp;&nbsp;
				<span class="kt-footer__menu-link kt-link">Version {{ version }}</span>
			</div>
		</div>
	</div>
</div>
<!-- end:: Footer -->
