.empty {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translateY(-40px);
  pointer-events: none;

  i {
    color: #4a4a4a;
    font-size: 5rem;
  }
  .description {
    color: #4a4a4a;
    font-size: 15px;
  }
}
