<kt-portlet>
	<kt-portlet-header title="Store Details" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<button class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back" (click)="onBack()">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange($event)">
			<mat-tab [ngClass]="{ 'actionloading': (loading$ | async) }">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					General
				</ng-template>
				<ng-template matTabContent>
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<ng-com-store-general [store$]="store$" (handleSubmit)="onGeneralFormSubmit($event)"></ng-com-store-general>
						</div>
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab [ngClass]="{ 'actionloading': (loading$ | async) }">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Table
				</ng-template>
				<ng-template matTabContent>
					<ng-com-store-table [dataSource]="storeTableDataSource" [storeId]="storeId" (handlePagination)="onStoreTablePagination($event)" (handleRemoveTable)="onRemoveTable($event)"></ng-com-store-table>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
