<div id="myModal" class="modal-body">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h4 class="modal-title">Thank you for your purchase!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">You can view your order by going to <a class="btn-link" (click)="onGoToOrderDetails()">the order
            details page</a>.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" (click)="onGoToHome()">GO TO HOME PAGE</button>
      </div>
    </div>
  </div>
</div>