<div class="row">
  <div class="col-12 col-lg-5 mb-3">
    <upload-avatar [user]="user" (handleUploadAvatar)="onUploadAvatar($event)"
								(handleRemoveAvatar)="onRemoveAvatar()"></upload-avatar>
  </div>
  <div class="col-12 col-lg-7">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" [ngClass]="{ 'was-validated': !form.pristine }">
      <div class="form-group row">
        <label for="firstName" class="col-sm-3 col-form-label">First name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="firstName" required>
          <div class="invalid-feedback" *ngIf="f.firstName.errors">
            {{getErrorMessage(f.firstName)}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-3 col-form-label">Last name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-sm" formControlName="lastName" required>
          <div class="invalid-feedback" *ngIf="f.lastName.errors">
            {{getErrorMessage(f.lastName)}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input id="email" type="text" class="form-control form-control-sm" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-9">
          <input if="phone" type="text" class="form-control form-control-sm" formControlName="phone" maxlength="20"
            [mask]="adminConfig.mask.phone">
          <div class="invalid-feedback" *ngIf="f.phone.errors">
            {{getErrorMessage(f.phone)}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <textarea id="address" type="text" class="form-control form-control-sm" rows="3" placeholder=""
            formControlName="address"></textarea>
          <div class="invalid-feedback" *ngIf="f.address.errors">
            {{getErrorMessage(f.address)}}
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-primary btn-sm" [disabled]="!form.valid || form.pristine">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>